pipeline/Error Activity for Series and Parallel.json
{
	"name": "Error Activity for Series and Parallel",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "s",
					"value": "g"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "d",
					"value": "1"
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "df",
					"value": "l\n"
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "s",
					"value": "f"
				}
			},
			{
				"name": "Set variable5",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "d",
					"value": "2"
				}
			},
			{
				"name": "Set variable6",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "df",
					"value": "fd\n"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable5",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "error capture series",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error Capture Series",
					"value": {
						"value": "@concat(activity('Set variable1')?.Error?.message,'|',activity('Set variable2')?.Error?.message,'|',activity('Set variable3')?.Error?.message)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "error capture prarallel",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error Capture Prallel",
					"value": {
						"value": "@concat(activity('Set variable4')?.Error?.message,'|',activity('Set variable5')?.Error?.message,'|',activity('Set variable6')?.Error?.message)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Error Capture Series": {
				"type": "String"
			},
			"Error Capture Prallel": {
				"type": "String"
			},
			"s": {
				"type": "String"
			},
			"d": {
				"type": "String"
			},
			"df": {
				"type": "String"
			}
		},
		"annotations": []
	}
}